body {
  font-size: 33px;
  color: #333333;
  font-family: 'Amatic SC', cursive;
}

/* ------------------------------------------------Navbar */

.navbar {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

/* ------------------------------------------------Navbar picture */
.navbar_picture {
    width: 50%;
    padding-left: 20px;
}

/* ------------------------------------------------Navbar menu */
.navbar-nav .nav-link {
    margin: 10px 10px;
}

.navbar-light .navbar-nav .nav-link.active {
    border-bottom: 1px solid white;
    color: var(--dark); 
}


.navbar-light .navbar-nav .nav-link {
    color: #DC3545;
}

.navbar-expand-lg {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav a {
    font-size: 1.2em;
  
}

/* ----------------------------------------- Jumbotron container */

.main-jumbo-container {
    height: 100vh;
    background: url("../images/background_picture.jpg") no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4)
}

.jumbotron {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 21.41%, rgba(255, 255, 255, 0.8) 78.6%, rgba(255, 255, 255, 0) 100%);
    max-width: 600px;
    margin: 15px auto;
}

.jumbotron-header {
    font-size: 50px;
}

.jumbotron-paragraph {
    font-size:xx-large;
}



/* ------------------------ Separator */

.separator {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1.5px solid rgb(15 15 11 / 47%);
    width: 30%;
}

.separator_1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 20%;
}



/* ----------------------------------------- Introduction container */
.introduction-container {
    margin-top: 20px;
    margin-bottom: 70px;
}

.introduction_photo {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.introduction_paragraph {
        font-size: 30px;
}


/* ----------------------------------------- Activity container */
.main-activity-container {
    background-color: #404952;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;

}

.activity-container {
    background: white;
    padding: 20px;
    border: 6px solid #ddd;
    border-radius: 4px;
    width: 85%;
}

.activity-container h2 {
    color: #DC3545;
    text-align: center;
    font-size: 35px;
}

.activity-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
}

.activity-container ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 5px;
    list-style: none;
    color: blue;
}


.activity-container .activity-picture {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
}

.activity-list > * {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.activity-list > *:hover {
    transform: scale(1.1);
}

/* ---  Divider */
.divider  {
    text-align: center;  
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    border: none;
}

/* ----------------------------------------- Footer */

footer {
    background-color: #440208;
    color: white;
    min-height: 50px;
    margin: 0;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
}

.blockquote-footer {
    background: none;
    margin-top: 0px;
}

.social-links li a i {
    font-size: 2rem;
    color: white;
    padding: 12px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.social-links li a i:hover {
    color: rgb(211, 133, 133);
}

.copyright-text {
    font-size: 17px;
}

/* ------------------------------------GALLERY-------------------------------- */


.heading-gallery-container {
    margin: 30px 50px;
    text-align: center;

}

.holder-container {
    margin: 30px 100px;
    background: #f1fffe;
    height: 410px;
    overflow-x: scroll;
    padding-top: 30px;
    padding-bottom: 30px;
}

.food-container {
    margin: 30px 100px;
    margin-bottom: 100px;
    background: #faf5bf;
    height: 410px;
    overflow-x: scroll;
    padding-top: 30px;
    padding-bottom: 30px;

}

.gallery-separator {
    width: 20%;
    margin-top: 6rem;
    margin-bottom: 1rem;
    border-top: 2px solid rgb(103 130 154 / 33%);
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-footer .btn:hover {
     background-color: #cecece;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    height: 40px;
    width: 40px;
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: rgba(51,51,51,.8) url(//media.nomadicmatt.com/siteimages/cd-top-arrow.svg) no-repeat center 50%;
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 30px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


/* ------------------------------------ACCOMMODATION-------------------------------- */

/* --------------------------Accommodation container-------------------------------- */
#main-accommodation-container {
    height: 100vh;
    background: url("../images/home.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.west-cork-main-container {
    padding-bottom: 3rem;
}
.west-cork-text-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-align: justify;
    padding-top: 15px;
}

.the-book-button-div {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.the-book-button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}
.accommodation-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.heading-accommodation-container {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 40px;
    color: white;
}

.paragraph-accommodation-container {
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: #1c1919bf;
}

.divider-accommodation-container {
    background-color: white;
    padding-top: 2rem;

    
}
.accommodation-table {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
    background-color: #e4e0f9ba;
}

/* --------------------------Hotel container-------------------------------- */
#form-map-main-container {
    background-color: #020b13;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-map-container {
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.heading-form-map-container {
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 41px;
}

.form-map-container-left {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 2rem;
    line-height: 17px;
    background-color: #474d52;
    color: #d6bac7;
    font-size: 25px;
    letter-spacing: 5px;
    border: 1px solid #a49292;
}

.form-map-container-right {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 50px;
    color: #d6bac7;
}

.hotel-button {
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
}

.form-control {
    height: calc(1em + .60rem + 2px);
    line-height: 1;
    font-size: 26px;
}

iframe {
    float: left;
    width: 100%;
    height: 450px;
    border: 0;
    }


.blockquote-footer-accommodation {
    display: block;
    font-size: 80%;
    color: white;
    background: none;
    margin-top: 0px;
}

/* ----Blockquote----------------- */
blockquote {
    background: #e4e0f9ba;
    border-left: 5px solid #7e72e6c2;
    margin: 1.5em 10px;
    padding: 1em 0.7em;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/* ----Wireframe----------------- */
.wireframe-background {
background-color: #e0dfdf;
}

.wireframe {
    margin-left: 15%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.wireframe-main-heading {
    padding-top: 20px;

}
.wireframe-heading {
    text-align: center;
}


















/* ------------------------MEDIA QUERIES----------------- */

/* Large devices (desktops, 992px and up) */
@media (max-width: 1200px) and (min-width: 992px){   



    /* ----------------------- Accommodation --- */ 
    .paragraph-accommodation-container {
    font-size: 25px;
    }
}




/* Medium devices (tablets, 768px and up) */
@media (max-width: 991px) and (min-width: 768px) {

    /* ----------------------- Navbar --- */
    .navbar-nav .nav-link {
        margin: 2px 2px 2px 25px;
    }
    .nav-link {
        padding: .3rem;
    }
    /* ----------------------- Home --- */
    .introduction_paragraph {
        font-size: 25px;
    }
    .activity-container {
        width: 90%;
    }
    
    /* ----------------------- Gallery --- */
    .holder-container {
        margin: 0px;
        width: 100%;
    }
    .food-container {
        margin: 0px;
        margin-bottom: 80px;
        width: 100%;
    }
    /* ------------------------ Accommodation --- */ 
    .paragraph-accommodation-container {
        font-size: 22px;
    }

    .accommodation-table {
        font-size: 12px;
        padding: 5px;
    }
    .west-cork-text-paragraph {
        font-size: 14px;
    }

    .west-cork-text-image {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .the-book-button-div {
        margin-top: 15px;
        font-size: 17px;
    }
    .the-book-button {
        margin-top: 15px;
        font-size: 17px;
    }
    #form-map-main-container {
        padding: 0px;
    }
    .justify-content-between {
        justify-content: center !important;
    }

}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) and (min-width: 576px){

      /* ----------------------- Navbar --- */
    .navbar-nav .nav-link {
        margin: 5px 10px;
    }

    .nav-link {
        padding: 0;
    }
    nav a {
        font-size: 1.1em;
    }

    /* ----------------------- Home --- */
    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .introduction-heading {
        text-align: center;
    }

    .introduction_paragraph {
        font-size: 22px;
        text-align: center;
    }
    .activity-container {
        width: 90%;
    }
    .activity-container p {
        font-size: 14px;
    }


    .activity-list > *:hover {
        transform: none;
    }
    /* ----------------------- Gallery --- */
    .holder-container {
        margin: 0px;
        width: 100%;
        height: 410px;
    }
    .food-container {
        margin: 0px;
        margin-bottom: 80px;
        width: 100%;
    }

    .gallery-separator {
    margin-top: 4rem;
    margin-bottom: 0.6rem;
    }


 /* ------------------------ Accommodation --- */ 
   
    .paragraph-accommodation-container {
        font-size: 28px;
    }

    .accommodation-table {
        font-size: 12px;
        padding: 5px;
    }

    .west-cork-text-paragraph {
        font-size: 14px;
    }
    .west-cork-text-image {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .the-book-button-div {
        font-size: 17px;
    }
    .the-book-button {
        font-size: 17px;
    }
    #form-map-main-container {
        padding: 0px;
    }
    .justify-content-between {
        justify-content: center !important;
    }

    .divider-accommodation-container {
    padding-top: 1rem;
    margin-left: 0;
    margin-right: 0;   

    }
    .the-book-button {
        margin-top: 25px;
    }
    .heading-form-map-container {
    font-size: 35px;
    }

    /* ----------------------- Footer --- */
    .copyright-text {
        padding-bottom: 10px;
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

    body {
        line-height: 1.3;
    }

    /* ----------------------- Navbar --- */
    
    .Kilbronogue_picture_container {
        text-align: center;
    }

    .navbar_picture {
        width: 45%;
        padding-top: 10px;
    }

    button.navbar-toggler {
        position: absolute;
        top: 15px;
        left: 10px;
    }



    .navbar-nav .nav-link {
        margin-left: 10px;
    }
    .nav-link {
        padding: 0;
    }
    nav a {
        font-size: 0.9em;
    }

    /* .nav-item {
        margin-top: 50px;
    } */

    /* ----------------------- Home --- */

     #main-accommodation-container {
        height: 110vh;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .introduction_heading {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2.2rem;
    }

    .introduction_paragraph {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .divider {
        margin-top: 20px;
        margin-bottom: 25px; 
    }

  
    .activity-list > *:hover {
    transform: none;
    }

 /* ----------------------- Gallery --- */
    .holder-container {
        margin: 0px;
        width: 100%;
    }
    .food-container {
        margin: 0px;
        margin-bottom: 80px;
        width: 100%;
    }

    .gallery-separator {
        margin-top: 4rem;
        margin-bottom: 0.6rem;
    }

 /* ----------------------- Accommodation --- */

    #main-accommodation-container {
        height: 110vh;
    }

    .heading-accommodation-container {
    font-size: 33px;
    margin-bottom: 25px;
    }

    .paragraph-accommodation-container {
        font-size: 25px;
    }

    .blockquote-footer-accommodation {
        font-size: 70%;
        margin-top: 20px;
    }

    .accommodation-table {
        font-size: 12px;
    }

    .west-cork-main-container {
        padding-bottom: 1rem;
    }

    .west-cork-text-paragraph {
        padding-top: 0;
        font-size: 14px;
        text-align: justify;
    }

    .west-cork-text-image {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .the-book-button-div {
        font-size: 17px;
    }
    .the-book-button {
        font-size: 17px;
    }
    #form-map-main-container {
        background-color: white;
        padding: 0px;
    }
    .heading-form-map-container {
        font-size: 30px;
    }
    .map_divider {
        display: none;
    }
  
    .divider-accommodation-container {
        padding-top: 1rem;
    }
    .the-book-button {
        margin-top: 25px;
    }

    /* .separator_1 {
        display: none;
    } */


 /* ----------------------- Footer --- */
    .social-links li a i {
        font-size: 1.4rem;
        padding: 5px;
    }
    .copyright-text {
        padding-bottom: 20px;
        text-align: center;
    }

}




